*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  padding: 0; }

body {
  margin: 0;
  background-color: #e3e3e3;
  color: #3e3d3d;
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  letter-spacing: 1.4px; }

.header-overlay {
  width: 100%;
  align-items: center;
  background-color: #fff; }

header {
  margin: auto;
  max-width: 1440px;
  height: 100%;
  align-items: center;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around; }

.show {
  display: flex !important; }

.logo {
  display: flex; }

.logo__text {
  color: #757575;
  font-size: 18px;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 1.8px; }

.logo__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5px; }

.open-menu {
  display: none; }

.open-menu__button {
  width: 5em;
  height: 5em;
  background: none;
  border: none; }
  .open-menu__button:active, .open-menu__button:focus {
    outline: none; }

.open-menu__img {
  width: 100%; }

.social-buttons {
  order: 3;
  display: flex; }

.social-buttons__button {
  padding: 0 .2em; }

.social-buttons__img {
  width: 1.5em; }

.menu {
  order: 2;
  transition: 1s;
  display: flex;
  justify-content: space-between;
  list-style: none; }

.menu__link {
  text-decoration: none;
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2em .5em;
  transition: .3s; }
  .menu__link:hover {
    color: #fff;
    background-color: #aaa; }

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 400px;
  margin: auto; }

.slider__container {
  position: relative;
  width: 10000px;
  height: 100%; }

.slider__img {
  float: left;
  z-index: 0;
  width: 100vw;
  position: relative; }

.slider__caption {
  position: absolute;
  width: 100%;
  color: #fff;
  padding: 6em 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

h2 {
  font-family: Amsdam, sans-serif;
  font-size: 36px;
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 0.89px; }
  h2:after {
    content: "";
    background: url(../img/line.png) center no-repeat;
    padding: .5em;
    display: block; }

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding-top: 2em; }

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.article {
  flex: 1;
  padding: 2em;
  color: #3e3d3d; }
  .article hr {
    background-color: #b7b7b7; }

.article__thumbnail {
  width: 100%;
  min-width: 300px; }

.article__title {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-transform: uppercase; }

.artice__author-data {
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.4px; }

.artice__author:after {
  content: " / "; }

.article__info {
  color: #818181;
  letter-spacing: 0.4px;
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  font-style: italic;
  display: flex; }

.article__icon {
  display: flex;
  align-items: center;
  padding: 0 0.4em; }
  .article__icon:before {
    content: "";
    width: 1em;
    height: 1em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: .3em; }

.article_type_comments:before {
  background-image: url(../img/comments.svg); }

.article_type_views:before {
  background-image: url(../img/eye.svg); }

.article_type_category:before {
  background-image: url(../img/case.svg); }

.article__readmore {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  letter-spacing: 1.47px;
  border: 2px solid #3e3d3d;
  color: #3e3d3d;
  text-decoration: none;
  margin-top: 5em;
  padding: 1em 2em;
  transition: .3s; }
  .article__readmore:hover {
    color: #fff;
    background-color: #3e3d3d; }

.article__content p {
  margin-bottom: 3em;
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1.4px; }

footer {
  background-color: #292929; }
  footer .logo {
    flex-basis: 100%; }
  footer .logo__text {
    font-family: Montserrat, sans-serif;
    color: #fff; }

.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  padding-top: 2em;
  margin: auto;
  padding: 2em 1em 0; }

.footer__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 2em; }

.footer__p {
  color: #949494;
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  line-height: 20.31px; }

.footer__span {
  color: #e3e3e3;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2em 0px; }

.footer__contact-form {
  flex: 2; }

.footer__copyright {
  flex-basis: 100%;
  padding: 4em 0;
  color: #949494;
  font-style: italic; }

.contact-form {
  display: flex;
  flex-wrap: wrap; }

.footer__input {
  flex-basis: 47%; }

.footer__textarea {
  flex-basis: 100%; }

.footer__input, .footer__textarea {
  padding: 1.5em;
  margin: 1.5%;
  background: none;
  border: 2px solid #464646;
  color: #fff;
  transition: .2s; }
  .footer__input::placeholder, .footer__textarea::placeholder {
    font-family: "Crimson Text", sans-serif;
    color: #949494;
    font-size: 14px;
    font-style: italic; }
  .footer__input:focus, .footer__textarea:focus {
    background-color: #e3e3e3;
    outline: none;
    color: #3e3d3d; }

.footer__button {
  background-color: #464646;
  padding: 1em 2.5em;
  margin: 1.5%;
  border: none;
  color: #fff;
  transition: .3s;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  cursor: pointer;
  outline: none; }
  .footer__button:hover {
    background-color: #3e3d3d; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .menu__link {
    font-size: 11px; }
  .article__thumbnail {
    min-width: 250px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu__link {
    font-size: 10px; }
  .logo__text {
    font-size: 14px; }
  .article__thumbnail {
    min-width: 200px; } }

@media screen and (max-width: 767px) {
  header {
    flex-wrap: wrap; }
  .logo {
    flex-grow: 1; }
  .open-menu {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .menu {
    width: 100vw;
    order: 4;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    padding: 3em;
    display: none; }
  .social-buttons {
    order: 2; }
  h2 {
    font-size: 30px; }
  .footer__left {
    flex-basis: 100%; } }

@media screen and (max-width: 480px) {
  .slider__caption {
    padding: 2em 0; }
  h2 {
    font-size: 20px; }
  .footer__input {
    flex-basis: 100%; }
  .footer__left {
    align-items: center; } }

@font-face {
  font-family: "Crimson Text";
  font-weight: 700;
  font-style: normal;
  /*src: url("../fonts/CrimsonText-Roman.eot")*/
  src: url("../fonts/CrimsonText-Roman.ttf") format("truetype"); }

@font-face {
  font-family: "Amsdam";
  font-weight: 700;
  font-style: normal;
  /*src: url("../fonts/Amsdam-cyr-lat.eot")*/
  src: url("../fonts/Amsdam-cyr-lat.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat Regular";
  font-weight: 700;
  font-style: normal;
  /*src: url("../fonts/Montserrat-Regular.eot")*/
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }
